# Large data files
*.pt
*.root

# Python
**/__pycache__/**
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.ipyn_checkpoints/

# IDE
.vscode/**
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Symlinks
ChargedHiggsAnalysisV2
SKNanoAnalyzer
SKNanoOutput
SKFlatOutput
