[submodule "Common/Tools/tdr-style"]
	path = Common/Tools/tdr-style
	url = git@github.com:choij1589/tdr-style.git
[submodule "SignalRegionStudyV1/datacards"]
	path = SignalRegionStudyV1/datacards
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis/b2g/b2g-25-013/datacards.git
