# Large data files
*.pt
*.root

# CMSSW
Common/CMSSW_14_1_0_pre4
SignalRegionStudyV1/CMSSW_14_1_0_pre4

# Python
**/__pycache__/**
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.ipyn_checkpoints/

# IDE
.vscode/**
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# logs
ParticleNet/logs/**
ParticleNet/GAOptim**
ParticleNetMD/dataset/**
ParticleNetMD/logs/**
ParticleNetMD/results/*

# BackUps
**/BackUps/**

# Symlinks
ChargedHiggsAnalysisV2
SKNanoAnalyzer
SKNanoOutput
SKFlatOutput
